<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mine sweeper</title>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            user-select: none;
        }

        html,
        body,
        #app {
            font-family: sans-serif;
            height: 100%;
            min-height: 0;
            min-width: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        .map-wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }

        .row {
            display: flex;
        }

        .tile {
            align-items: center;
            background-color: lightgray;
            border: solid 1px silver;
            display: flex;
            font-size: 50px;
            height: 100px;
            justify-content: center;
            width: 100px;
            cursor: pointer;
        }

        .tile:hover {
            background-color: rgb(188, 223, 174);
            border-color: rgb(131, 170, 131);
        }

        .actions-wrapper {
            margin-top: 64px;
        }

        .restart-btn {
            padding: 12px 16px;
        }
    </style>
</head>

<body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
        <div class="actions-wrapper">
            <button class="restart-btn" @click="restart">Restart</button>
        </div>

        <div class="map-wrapper">
            <div v-for="(row, xIndex) in map" :key="xIndex" class="row">
                <div v-for="(tile, yIndex) in row"
                    :key="yIndex"
                    :style="{ 'background-color': tile.backgroundColor }"
                    @click="select(xIndex, yIndex)"
                    @click.right.prevent="toggleFlag(tile)" class="tile"
                    >
                    {{ tile.displayValue() }}
                </div>
            </div>
        </div>
    </div>


    <script>
        const EMPTY = 0
        const BOMB = -1
        

        Vue.createApp({
            data() {
                return {
                    bombsCount: 4,

                    map: [],

                    size: {
                        xLength: 9,
                        yLength: 9,
                    },

                    bombPositions: []
                }
            },

            methods: {
                initMap() {
                    this.generateMap()

                    for (let index = 0; index < this.bombsCount; index++) {
                        const randomX = this.randomBetween(0, this.size.xLength - 1)
                        const randomY = this.randomBetween(0, this.size.yLength - 1)

                        if (this.map[randomX][randomY].value === BOMB) {
                            index--
                        } else {
                            this.map[randomX][randomY] = createBombTile()
                            this.bombPositions.push({
                                x: randomX,
                                y: randomY
                            })
                            this.initBombsCount(randomX, randomY)
                        }
                    }
                },

                generateMap() {
                    for (let xIndex = 0; xIndex < this.size.xLength; xIndex++) {
                        this.map.push([])

                        for (let yIndex = 0; yIndex < this.size.yLength; yIndex++) {
                            this.map[xIndex].push(
                                createEmptyTile()
                            )
                        }
                    }
                },

                randomBetween(min, max) {
                    return Math.floor(
                        Math.random() * (max - min) + min
                    )
                },

                initBombsCount(x, y) {
                    this.neighborPoke(x, y, (i, j) => {
                        if (this.map[i][j].value !== BOMB) {
                            this.map[i][j].value++
                        }
                    })
                },

                select(x, y) {
                    const selectedTile = this.map[x][y]

                    if (selectedTile.flag === 0) {
                        if (selectedTile.value === BOMB) {
                            this.revealBombs()
                        } else {
                            this.revealTile(selectedTile, { x: x, y: y })
                        }
                    }
                },

                revealBombs() {
                    this.bombPositions.forEach(bomb => {
                        this.map[bomb.x][bomb.y].visible = true
                    })
                },

                revealTile(tile, position) {
                    if (tile.visible) {
                        return;
                    }

                    switch (tile.value) {
                        case EMPTY:
                            tile.visible = true
                            this.revealNeighborTiles(tile, position)
                            break;
                        default:
                            tile.visible = true
                    }
                },

                revealNeighborTiles(tile, position) {
                    this.neighborPoke(
                        position.x,
                        position.y,
                        (i, j) => this.revealTile(this.map[i][j], {
                            x: i,
                            y: j
                        })
                    )
                },

                neighborPoke(x, y, callback) {
                    for (let i = x - 1; i <= x + 1; i++) {
                        if (i < 0 || i >= this.size.xLength) {
                            continue;
                        }

                        for (let j = y - 1; j <= y + 1; j++) {
                            if (j < 0 || j >= this.size.yLength) {
                                continue;
                            }

                            callback(i, j)
                        }
                    }
                },

                toggleFlag(tile) {
                    tile.flag = (tile.flag + 1) % 3
                },

                restart() {
                    this.map = []
                    this.bombPositions = []

                    this.initMap()
                }
            },

            mounted() {
                this.initMap()
            }
        }).mount('#app')

        function createBombTile() {
            return {
                value: BOMB,

                displayValue() {
                    if (this.visible) {
                        return '💣'
                    }

                    return getFlag(this.flag)
                },

                get backgroundColor() {
                    if (this.visible) {
                        return '#e22'
                    }
                },

                flag: 0,

                visible: false,
            }
        }

        function createEmptyTile() {
            return {
                value: EMPTY,

                displayValue() {
                    if (this.visible) {
                        if (this.value === EMPTY) {
                            return ''
                        }

                        return this.value
                    } else {
                        return getFlag(this.flag)
                    }
                    
                },

                get backgroundColor() {
                    if (this.visible) {
                        if (this.value === EMPTY) {
                            return '#eef'
                        }

                        const dangerLevel = 8 - this.value
                        return `#${dangerLevel}${dangerLevel}f`
                    }
                },

                flag: 0,

                visible: false,
            }
        }

        function getFlag(key) {
            return ['', '🚩', '❓'][key]
        }
    </script>
</body>

</html>